@charset "utf-8";
/* CSS Document */

body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

.logo {
  display: block;
  margin: auto; 
}

/* Navbar container */
.menu {
  font-family: 'Poppins';
  padding-left: 300px;
}

/* Links inside the navbar */
.menu a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

.menu .active { 
  background-color: #e87800;
}

/* The dropdown container */
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 50px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.menu a:hover, .dropdown:hover .dropbtn {
  background-color: #e87800;
  color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 14px 86px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #f49f0b;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f49f0b;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.searchTerm {
  text-indent: 35px;
}

/* Styling the default Slick dots */
	
.slick-dots li.slick-active button {
	background-color: white;
}

.dots {
  height: 40px;
  width: 40px;
  background-color: silver;
  border-radius: 100%;
  display: inline-block;
  justify-content: center;
  margin: 30px;
  text-align: center;
}
	
p.text {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  padding-right: 50px;
}

p.text1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #ffffff;
  padding-right: 450px;
}

p.text2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

p.text3 {
  font-family: 'Poppins', sans-serif;
  text-align: right;
  color: #ffffff;
  font-size: 14px;
}

p.text4 {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  color: #ffffff;
  font-size: 14px;
  padding-left: 30px;
}

span.text {
  font-family: 'Poppins';
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

span.text1 {
  font-family: 'Poppins';
  padding-left: 405px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 3.54;
  letter-spacing: 1.8px;
  display: inline;
}

span.text2 {
  font-family: 'Poppins-Regular';
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

span.text3 {
  font-family: 'Poppins';
  padding-left: 405px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 3.54;
  letter-spacing: 1.8px;
  display: inline;
}

p.card-heading {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 11.6px;
  text-align: center;
}

p.card-text {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 10.6px;
  text-align: center;
}

p.card-caption {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 9px;
  text-align: center;
}

.video {
  text-align: center;
}

.video1 {
  text-align: center;
  display: flex;
}

.image {
  text-align: left;
}

hr {
	background: #505050; 
	border: 0; 
	height: 1px;
}

#image {
	margin-left: 450px;
	width: 360px;
	height: 480px;
}

#image1 {
	width: 173px;
  height: 115px;
  padding-left: 550px;
}

#image2 {
  width: 100%;
  height: 340px;
}

#image3 {
  width: 205px;
  height: 206px;
  padding-bottom: 10px;
}

#image4 {
  width: 35px;
  height: 35px;
}

#image5 {
  width: 30px;
  height: 30px;
  border: solid 1px #ffffff;
}

#image6 {
  width: auto;
  height: 400px;
}

#image7 {
  width: 247px;
  height: 80px;
}

#image8 {
  width: 80px;
  height: 90px;
  float: left;
}

#image9 {
  width: 80px;
  height: 90px;
  float: right;
}

#image10 {
  width: 30px;
  height: 30px;
}

#image11 {
  width: 60px;
  height: 60px;
  float: left;
  padding: 125px;
}

#image12 {
  width: 60px;
  height: 60px;
  float: right;
  padding: 125px;
}

#image13 {
  width: 200px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

#image14 {
	width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

#image15 {
  width: 100px;
  height: 100px;
  float: left;
}

#image16 {
  width: 100px;
  height: 100px;
  float: right;
}

#image17 {
  width: 100%;
  height: 400px;
}

#image19 {
  width: 559px;
  height: 336px;
}

#image20 {
  width: 212px;
  height: 261px;
}

#image21 {
  width: 100px;
  height: 100px;
  float: left;
}

#image22 {
  width: 100px;
  height: 100px;
  float: right;
}

#image23 {
  width: 212px;
  height: 262px;
}

#image24 {
  width: 130px;
  height: 150px;
  float: left;
}

#image25 {
  width: 130px;
  height: 150px;
  float: right;
}

#image26 {
  width: 20px;
  height: 18px;
  padding-left: 10px;
  padding-top: 5px;
  float: left;
  position: absolute;
}

#image27 {
  width: 677px;
  height: 371px;
  padding-left: 120px;
  padding-top: 5px;
  float: left;
}

#image28 {
  width: 212px;
  height: 119px;
}

#image29 {
  width: 625px;
  height: 340px;
}

.socialmedia {
  padding-top: 10px;
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: #f3f3f3;
}

.socialmediacampaignpsjoy {
  padding: 20px;
  padding-bottom: 10px;
  width: 1337px;
  height: 110px;
  text-align: center;
  background-color: #0fb4de;
}

.socialmediacampaignactivitykits {
  padding: 20px;
  padding-bottom: 10px;
  width: 1337px;
  height: 130px;
  text-align: center;
  background-color: #0fb4de;
}

.socialmedia ul {
  float: left;
  padding-left: 500px;
}

.socialmedia li {
  float: left;
  margin: 0 20px;
  list-style-type: none;
}

.rectangle {
   width: 1366px;
   height: 399px;
   background-color: #f49f0b;
}

.psjoyrectangle {
  padding: 5px;
  width: 1366px;
  height: 175px;
  background-color: #23b839;
  text-align: center;
}

.psjoyvideorectangle {
  width: 1366px;
  height: 710px;
  background-color: #f49f0b;
  padding: 5px;
}

.ages0-3rectangle {
  width: 100%;
  height: 600px;
  background-color: #f49f0b;
}

.ages4-7rectangle {
  width: 100%;
  height: 750px;
  background-color: #f49f0b;
}

.ages8-12rectangle {
  width: 100%;
  height: 750px;
  background-color: #f49f0b;
}

.teensrectangle {
  width: 100%;
  height: 775px;
  background-color: #f49f0b;
}

.caregiversfamilyactivityrectangle {
  width: 100%;
  height: 590px;
  background-color: #f49f0b;
}

.ages0-3booksrectangle {
  width: 100%;
  height: 688px;
  background-color: #0fb4de;
}

.ages4-7booksrectangle {
  width: 100%;
  height: 655px;
  background-color: #0fb4de;
}

.ages8-12booksrectangle {
  width: 100%;
  height: 655px;
  background-color: #0fb4de;
}

.teensbooksrectangle {
  width: 100%;
  height: 655px;
  background-color: #0fb4de;
}

.teenstabletappsandonlinegamesrectangle {
  width: 100%;
  height: 625px;
  background-color: #0fb4de;
}

.caregiversemotionalwellbeingrectangle {
  width: 100%;
  height: 705px;
  background-color: #0fb4de;
}

.ages0-3tvchannelsandeducationalgamesrectangle {
  width: 100%;
  height: 650px;
  background-color: #ffc800;
}

.ages4-7tvchannelsandeducationalgamesrectangle {
  width: 100%;
  height: 650px;
  background-color: #ffc800;
}

.ages8-12tvchannelsandeducationalgamesrectangle {
  width: 100%;
  height: 650px;
  background-color: #ffc800;
}

.teenstvchannelsandeducationalgamesrectangle {
  width: 100%;
  height: 625px;
  background-color: #ffc800;
}

.caregiversadditionalcaregiverresourcesrectangle {
  width: 100%;
  height: 640px;
  background-color: #ffc800;
}

.ages0-3onlinemuseumsandzoosrectangle {
  width: 100%;
  height: 750px;
  background-color: #23b839;
}

.ages4-7onlinemuseumsandzoosrectangle {
  width: 100%;
  height: 765px;
  background-color: #23b839;
}

.ages8-12onlinemuseumsandzoosrectangle {
  width: 100%;
  height: 775px;
  background-color: #23b839;
}

.teensonlinemuseumsandzoosrectangle {
  width: 100%;
  height: 775px;
  background-color: #23b839;
}

.ages4-7othersrectangle {
  width: 100%;
  height: 675px;
  background-color: #f49f0b;
}

.ages8-12othersrectangle {
  width: 100%;
  height: 625px;
  background-color: #f49f0b;
}

.teensothersrectangle {
  width: 100%;
  height: 625px;
  background-color: #f49f0b;
}

.activitykitsrectangle {
  width: 100%;
  height: 215px;
  background-color: #23b839;
  text-align: center;
}

.activitykitsvideorectangle {
  width: 100%;
  height: 650px;
  background-color: #0fb4de;
}

.activitykitscardsrectangle {
  width: 100%;
  height: 2650px;
  background-color: #f49f0b;
}

.button {
  width: 250px;
  height: 30px;
  border-radius: 27.6px;
  border: solid 0.8px #979797;
  background-color: #ffffff;
  font-family: 'Poppins';
  color: #0fb4de;
  font-size: 14px;
}

.card {
  width: 324px;
  height: 230px;
}

/* Four image containers (use 25% for four, and 50% for two, etc) */
.column {
    flex: 25%;
 }

 .column-1 {
    flex: 25%;
    padding-top: 25px;
    padding-left: 25px;
    background-color: #0fb4de;
    font-family: 'Poppins';
 }

 .column-2 {
    flex: 25%;
    padding-top: 25px;
    padding-left: 25px;
    background-color: #23b839;
 }

 .column-3 {
    flex: 20%;
    padding: 15px;
    text-align: center;
    font-weight: bold; 
    color: black; 
 }

 .column-4 {
  flex: 20%;
  padding: 15px;
  padding-left: 40px;
  text-align: center;
  font-weight: bold;  
  color: black; 
}

.column-5 {
  flex: 20%;
  padding: 15px;
  padding-right: 75px;
  text-align: center;
  font-weight: bold;  
  color: black; 
}

.column-6 {
  padding: 50px;
  flex: 50%;
  text-align: left;  
}

.column-7 {
  flex: 50%;
}

.column-8 {
  padding-top: 10px;
  padding-left: 20px;
  flex: 20%; 
}

.column-9 {
  padding-top: 10px;
  padding-left: 15px;
  flex: 20%;
}

.column-10 {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 20px;
  flex: 20%;
}

.column-11 {
  padding-left: 35px;
  padding-top: 50px;  
}

.column-12 {
  padding-top: 50px; 
}

.column-14 {
  text-align: center; 
}

.column-15 {
  float: right; 
}

.column-16 {
  padding-left: 70px;
  flex: 33%;
}

.column-17 {
  padding-left: 425px;
  flex: 50%;
}

.column-18 {
  flex: 50%;
  text-align: center;
  padding-left: 50px;
}

.column-19 {
  flex: 50%;
  text-align: center;
  padding-right: 50px;
}

.column-20 {
  flex: 33%;
}

.column-21 {
  flex: 33%;
}

.column-22 {
  flex: 33%;
}

.column-23 {
  padding-top: 125px;
  padding-left: 100px;  
}

.column-24 {
  padding-top: 125px;  
  padding-right: 100px;  
}

.column-25 {
  padding-top: 10px;
  flex: 25%;
  text-align: center;
  padding-left: 50px;
}

.column-26 {
  padding-top: 10px;
  flex: 25%;
  text-align: center;
}

.column-27 {
  padding-top: 10px;
  flex: 25%;
  text-align: center;
  padding-right: 50px;
}

.column-28 {
  padding-top: 10px;
  flex: 25%;
  text-align: center;
  padding-left: 175px;
}

.column-29 {
  padding-top: 10px;
  flex: 25%;
  text-align: center;
}

.column-30 {
  padding-top: 10px;
  flex: 25%;
  text-align: center;
  padding-right: 175px;
}

.column-31 {
  padding-left: 25px;
  flex: 50%;
}

.column-32 {
  flex: 50%;
}

.column-33 {
  padding-top: 125px; 
}

.column-34 {
  padding-top: 10px;
  padding-left: 25px;
  flex: 25%;
  text-align: center;
}

.column-35 {
  padding-top: 10px;
  padding-left: 25px;
  flex: 25%;
  text-align: center;
  padding-right: 50px;
}

.column-36 {
  padding-left: 5px;
  padding-top: 50px;  
}

.column-37 {
  padding-top: 10px;
  padding-left: 100px;
  flex: 33%; 
}

.column-38 {
  padding-top: 10px;
  padding-left: 10px;
  flex: 33%;
}

.column-39 {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 100px;
  flex: 33%;
}

.column-40 {
  padding-top: 10px;
  padding-left: 20px;
  flex: 25%; 
}

.column-41 {
  padding-top: 10px;
  padding-left: 15px;
  flex: 25%;
}

.column-42 {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 20px;
  flex: 25%;
}

.column-43 {
  padding-right: 50px;
  padding-top: 25px;
  text-align: center;
}

.column-44 {
  padding-right: 100px;
}

.column-45 {
  text-align: center;
  padding-top: 10px;
  font-family: 'Poppins-Regular';
  font-size: 18px;
  padding-right: 50px;
}

.column-46 {
  text-align: center;
  padding-top: 10px;
  font-family: 'Poppins-Regular';
  font-size: 18px;
  padding-right: 50px;
}

.column-47 {
  padding-right: 100px;
  padding-top: 10px;
}

.column-48 {
  font-family: 'Poppins';
  color: #ffffff;
  padding-right: 50px;
  padding-top: 10px;
}

.toprow {
  display: flex;
  padding: 5px;
}

.imagerow {
  display: flex;
}

.illustrationrow {
  display: flex;
}

.searchBar {
  padding: 50px;
  padding-left: 175px;
  float: right;
  position: relative;
}

.searchTerm {
  width: 225px;
  height: 25px;
  border-radius: 22.5px;
  border: solid 2px #dadada;
}
  
  /* Clear floats after image containers */
  .row {
    display: flex;
    height: 340px;
  }
  
  .row2 {
    padding: 40px;
    display: flex;
    padding-bottom: 40px;
  }

  .row1 {
    display: flex;
    background-color: #f49f0b;
    width: 100%;
    height: 400px;
  }

  .row3 {
    display: flex;
  }

  .books {
    display: flex;
  }
  
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #ffffff;
  }

  h1.activitykits {
    padding-right: 120px;
    text-align: center;
    font-size: 35px;
  }

  h1.psjoy {
    padding-right: 120px;
    text-align: center;
    font-size: 35px;
    display: inline;
  }
 
  h2 {
    text-align: center;
  }

  h2.psjoy {
    padding-right: 120px;
    text-align: center;
  }
  
  h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  h3.index {
    font-size: 32px;
    margin: 0;
  }

  h3.ages0-3 {
    text-align: center;
    font-size: 26px;
  }

  h3.ages0-3books {
    text-align: center;
    font-size: 26px;
  }

  h3.ages0-3tvchannelandeducationalgames {
    text-align: center;
    font-size: 26px;
  }

  h3.ages0-3onlinemuseumsandzoos {
    text-align: center;
    font-size: 26px;
  }

  h3.teensbooks {
    text-align: center;
    font-size: 26px;
  }

  h3.teenstvchannelsandeducationalgames {
    text-align: center;
    font-size: 26px;
  }

  h3.teensonlinemuseumsandzoos {
    text-align: center;
    font-size: 26px;
  }

  h3.teenstabletappsandonlinegames {
    text-align: center;
    font-size: 26px;
  }

  h3.teensothers {
    text-align: center;
    font-size: 26px;
  }

  h3.caregiversfamilyactivity {
    text-align: center;
    font-size: 26px;
  }

  h3.caregiversemotionalwellbeing {
    text-align: center;
    font-size: 26px;
  }

  h3.caregiversadditionalcaregiverresources {
    text-align: center;
    font-size: 26px;
  }

  h3.ages4-7 {
    text-align: left;
    padding-left: 200px;
    font-size: 26px;
  }

  h3.ages4-7-1 {
    text-align: right;
    padding-right: 200px;
    font-size: 26px;
  }

  h3.ages4-7books {
    text-align: center;
    font-size: 26px;
  }

  h3.ages4-7tvchannelandeducationalgames {
    text-align: center;
    font-size: 26px;
  }

  h3.ages4-7onlinemuseumsandzoos {
    text-align: center;
    font-size: 26px;
  }

  h3.ages4-7others {
    text-align: center;
    font-size: 26px;
  }

  h3.ages8-12books {
    text-align: center;
    font-size: 26px;
  }

  h3.ages8-12tvchannelandeducationalgames {
    text-align: center;
    font-size: 26px;
  }

  h3.ages8-12onlinemuseumsandzoos {
    text-align: center;
    font-size: 26px;
  }

  h3.ages8-12others {
    text-align: center;
    font-size: 26px;
  }

  h4 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
  }

  h4.psjoy {
    text-align: center;
    display: inline;
    font-family: 'Poppins';
    font-size: 20px;
    padding-left: 15px;
  }

  h4.activitykits {
    text-align: center;
    padding-left: 405px;
    font-size: 18px;
    display: inline;
  }

  h4.activitykits1 {
    text-align: center;
    font-size: 18px;
    display: inline;
    padding-right: 25px;
  }

  h4.card-title {
    text-align: center;
    font-weight: bold;
    color: black;
  }
  
  h4.ages0-3 {
    text-align: center;
    font-size: 20px;
  }

  h4.ages4-7 {
    text-align: left;
    font-size: 20px;
    padding-left: 30px;
  }
