@charset "utf-8";
/* CSS Document */

body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

input[type=text] {
  width: 250px;
  height: 30px;
  border-radius: 22.5px;
  border: solid 1px #dadada;
}

p.text {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  padding-right: 50px;
}

p.text1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #ffffff;
  padding-right: 450px;
}

p.text2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

p.card-heading {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 11.6px;
  text-align: center;
}

p.card-text {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 10.6px;
  text-align: center;
}

p.card-caption {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 9px;
  text-align: center;
}

.video {
  text-align: center;
}

.video1 {
  text-align: center;
}

.image {
  text-align: left;
}

hr {
	background: #505050; 
	border: 0; 
	height: 1px;
}

#image {
	margin-left: 450px;
	width: 360px;
	height: 480px;
}

#image1 {
  margin-left: 540px;
	width: 173px;
	height: 115px;
}

#image2 {
	width: 300px;
  height: 360px;
}

#image3 {
  width: 205px;
  height: 206px;
  padding-bottom: 10px;
}

#image4 {
  width: 51px;
  height: 51px;
}

#image5 {
  width: 30px;
  height: 30px;
  border: solid 1px #ffffff;
}

#image6 {
  width: 952px;
  height: 410px;
}

#image7 {
  width: 247px;
  height: 80px;
}

#image8 {
  width: 80px;
  height: 90px;
  float: left;
}

#image9 {
  width: 80px;
  height: 90px;
  float: right;
}

#image10 {
  width: 30px;
  height: 30px;
}

#image11 {
  width: 60px;
  height: 60px;
  float: left;
  padding: 125px;
}

#image12 {
  width: 60px;
  height: 60px;
  float: right;
  padding: 125px;
}

#image13 {
  width: 200px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

#image14 {
	width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

#image15 {
  width: 100px;
  height: 100px;
  float: left;
}

#image16 {
  width: 100px;
  height: 100px;
  float: right;
}

#image17 {
  width: 1700px;
  height: 325px;
  position: relative;
}

#image18 {
  width: 187px;
  height: 59px;
  position: absolute;
  display: block;
  margin: 0 auto;
  padding-left: 530px;
  padding-top: 150px;
}

#image19 {
  width: 559px;
  height: 336px;
}

#image20 {
  width: 212px;
  height: 261px;
}

#image21 {
  width: 100px;
  height: 100px;
  float: left;
}

#image22 {
  width: 100px;
  height: 100px;
  float: right;
}

#image23 {
  width: 212px;
  height: 262px;
}

#image24 {
  width: 130px;
  height: 150px;
  float: left;
}

#image25 {
  width: 130px;
  height: 150px;
  float: right;
}

#image26 {
  width: 20px;
  height: 20px;
  padding-left: 5px;
  padding-top: 5px;
  float: left;
  position: absolute;
}

.searchTerm {
  width: 290px;
  height: 46px;
  border-radius: 22.5px;
  border: solid 2px #dadada;
}

.socialmedia {
  padding-top: 10px;
  padding-left: 450px;
  width: 925px;
  height: 80px;
  text-align: center;
  background-color: #f3f3f3;
}

.socialmediacampaign {
  padding: 20px;
  padding-bottom: 20px;
  width: 1337px;
  height: 150px;
  text-align: center;
  background-color: #0fb4de;
}

.socialmedia ul {
  float: left;
}

.socialmedia li {
  float: left;
  padding-left: 45px;
  list-style-type: none;
}

.rectangle {
   width: 1366px;
   height: 399px;
   background-color: #f49f0b;
}

.psjoyrectangle {
  padding: 5px;
  width: 1366px;
  height: 225px;
  background-color: #23b839;
  text-align: center;
}

.psjoyvideorectangle {
  width: 1366px;
  height: 715px;
  background-color: #f49f0b;
  padding: 5px;
}

.ages0-3rectangle {
  width: 1315px;
  height: 600px;
  background-color: #f49f0b;
  padding: 25px;
}

.ages0-3booksrectangle {
  width: 1315px;
  height: 675px;
  background-color: #0fb4de;
  padding: 25px;
}

.ages0-3tvchannelsandeducationalgamesrectangle {
  width: 1315px;
  height: 640px;
  background-color: #ffc800;
  padding: 25px;
}

.ages0-3onlinemuseumsandzoos {
  width: 1315px;
  height: 750px;
  background-color: #23b839;
  padding: 25px;
}

.activitykitsrectangle {
  padding: 5px;
  width: 1366px;
  height: 268px;
  background-color: #23b839;
  text-align: center;
}

.activitykitsimagerectangle {
  width: 1366px;
  height: 715px;
  background-color: #0fb4de;
  padding: 5px;
}

.activitykitscardsrectangle {
  width: 1376px;
  height: 2650px;
  background-color: #f49f0b;
}

.button {
  width: 250px;
  height: 30px;
  border-radius: 27.6px;
  border: solid 0.8px #979797;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  color: #0fb4de;
  font-size: 14px;
}

.card {
  width: 324px;
  height: 230px;
}

/* Four image containers (use 25% for four, and 50% for two, etc) */
.column {
    flex: 25%;
 }

 .column-1 {
    flex: 25%;
    padding: 25px;
    background-color: #0fb4de;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
 }

 .column-2 {
    flex: 25%;
    padding: 25px;
    background-color: #23b839;
 }

 .column-3 {
    flex: 20%;
    padding: 15px;
    text-align: center;
    font-weight: bold; 
    color: black; 
 }

 .column-4 {
  flex: 20%;
  padding: 15px;
  padding-left: 40px;
  text-align: center;
  font-weight: bold;  
  color: black; 
}

.column-5 {
  flex: 20%;
  padding: 15px;
  padding-right: 75px;
  text-align: center;
  font-weight: bold;  
  color: black; 
}

.column-6 {
  padding: 50px;
  padding-left: 60px;
  flex: 10%;
  text-align: left;  
}

.column-7 {
  flex: 90%;
}

.column-8 {
  padding-top: 10px;
  padding-left: 20px;
  flex: 20%; 
}

.column-9 {
  padding-top: 10px;
  padding-left: 15px;
  flex: 20%;
}

.column-10 {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 20px;
  flex: 20%;
}

.column-11 {
  padding-left: 35px;
  padding-top: 50px;  
}

.column-12 {
  padding-top: 50px; 
}

.column-14 {
  text-align: center; 
}

.column-15 {
  float: right; 
}

.column-16 {
  padding-left: 70px;
  flex: 33%;
}

.column-17 {
  padding-left: 100px;
  flex: 50%;
}

.column-18 {
  flex: 50%;
  text-align: center;
  padding-left: 50px;
}

.column-19 {
  flex: 50%;
  text-align: center;
  padding-right: 50px;
}

.column-20 {
  flex: 33%;
}

.column-21 {
  flex: 33%;
}

.column-22 {
  flex: 33%;
}

.column-23 {
  padding-top: 125px;
  padding-left: 100px;  
}

.column-24 {
  padding-top: 125px;  
  padding-right: 100px;  
}

.column-25 {
  padding-top: 10px;
  flex: 25%;
  text-align: center;
}

.column-26 {
  padding-top: 10px;
  flex: 25%;
  text-align: center;
}

.column-27 {
  padding-top: 10px;
  flex: 25%;
  text-align: center;
}


.toprow {
  display: flex;
  padding: 5px;
}

.imagerow {
  display: flex;
}

.searchBar {
  padding: 40px;
  padding-left: 175px;
  float: right;
  position: relative;
}
  
  /* Clear floats after image containers */
  .row {
    display: flex;
    height: 360px;
  }
  
  .row2 {
    padding: 40px;
    display: flex;
    padding-bottom: 40px;
  }

  .row1 {
    display: flex;
    background-color: #f49f0b;
    width: 1265px;
    height: 410px;
  }

  .video1 {
    display: flex;
  }

  .books {
    display: flex;
  }

  .socialmedia {
    display: flex;
  }
  
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #ffffff;
  }

  h1.psjoy {
    padding-right: 120px;
    text-align: center;
  }
 
  h2 {
    text-align: center;
  }

  h2.psjoy {
    padding-right: 120px;
    text-align: center;
  }
  
  h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  h3.ages0-3 {
    text-align: center;
    padding-right: 100px;
    font-size: 26px;
  }

  h4 {
    text-align: center;
  }

  h4.psjoy {
    padding-right: 300px;
  }

  h4.activitykits {
    text-align: center;
    padding-right: 50px;
    font-size: 18px;
  }

  h4.card-title {
    text-align: center;
    font-weight: bold;
    color: black;
  }
  
  h4.ages0-3 {
    text-align: center;
    font-size: 20px;
  }

